/* Added root. CHANGE COLORS AND USE */
:root {
    --white: #fff;
    --dark-blue: #13293d;
    --tan: #d8a47f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #a0a0a0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: monospace;
    background-color: #313131;
    color: #d8d8d8;
}    

/* my background picture */
figure {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/tempbg.jpg");
    background-size: cover;
    background-position: center;
}

main {
    width: 90%;
    padding: 15px;
    display: flex;

}

h1 {
    display: inline-block;
    font-size: 32px;
}
    
    /* changed to a class in h1. Not sure if correct */
h1 .middlename {
    color: #a0a0a0;
}

nav {
    padding: 15px;
    margin-right: 10px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* footer section values, needs to be adjusted */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    font-family: monospace;
    background-color: #313131;
    color: #d8d8d8;
}

.projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 0 33.333%;
    max-width: 33.333%;
}